{layout "layout.latte"}
{block subContent}
    <a href="javascript:history.back()" style="margin-bottom: 15px; "><i class="bi-arrow-bar-left" style="font-size: 30px; color: black"></i></a>
{/block}
{block content}
{/block}