services:
	- App\Router\RouterFactory::createRouter
	- App\Model\UserAuthenticator
	- App\Model\Repository\Table\UserRepository
	- App\Model\Repository\Table\help_articleRepository
	- App\Model\DataSource\Form\help_articleFormDataSource
	- App\Model\DataManager\help_articleDataManager
	- App\Model\Repository\Table\help_chapterRepository
	- App\Model\DataSource\Form\help_chapterFormDataSource
	- App\Model\DataManager\help_chapterDataManager
	- App\Types\Form\TFormHelp_article
	- App\Types\Form\TFormHelp_chapter
	- App\Model\DataManager\UserDataManager
	- App\Model\DataSource\Form\UserFormDataSource
	- App\Types\Form\TFormStation
	- App\Model\DataManager\StationDataManager
	- App\Model\DataSource\Form\StationFormDataSource
	- App\Model\Repository\Table\StationRepository
	- App\Model\DataManager\VehicleDataManager
	- App\Model\DataSource\Form\VehicleFormDataSource
	- App\Model\Repository\Table\VehicleRepository
	- App\Types\Form\TFormVehicle
	- App\Types\Form\TFormTicket
	- App\Model\DataManager\TicketDataManager
	- App\Model\DataSource\Form\TicketFormDataSource
	- App\Model\Repository\Table\TicketRepository








