{layout "../helpLayout.latte"}
{block content}
    <h1>{$open_article->name}</h1>
    <br>
    <div id="articleText"></div>

    <script>
        document.querySelector('#articleText').innerHTML ={$open_article->content}
    </script>

{/block}