{layout "../helpLayout.latte"}

{block content}
    <style>
        table {
            width: 100%;
            padding: 5px;
        }

        tbody {
            width: 100%;
        }
    </style>
{control formHelp_article}
{/block}